In [ ]:
pip install google-cloud-bigquery

In [ ]:
pip install pandas

In [1]:
import os

# from google cloud import big query
from google.cloud import bigquery
from google.oauth2 import service_account

import pandas as pd

In [2]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/Users/tararosen/Documents/data_science/big_query_notebook/key/citibike_key.json'

In [3]:
# instantiates a client for bigquery service
client = bigquery.Client()

In [4]:
# query for bigquery
query = """SELECT * FROM `bigquery-public-data.new_york_citibike.citibike_trips` LIMIT 10"""

# run the query and get data from bigquery
query_job = client.query(query)     # API request

# into dataframe

df = query_job.to_dataframe()

In [5]:
df.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,customer_plan
0,370,2013-10-08 17:59:20.000,2013-10-08 18:05:30.000,375,Mercer St & Bleecker St,40.726795,-73.996951,328,Watts St & Greenwich St,40.724055,-74.009660,16308,Subscriber,1947,male,
1,783,2017-09-11 16:06:49.000,2017-09-11 16:19:53.000,462,W 22 St & 10 Ave,40.746920,-74.004519,525,W 34 St & 11 Ave,40.755942,-74.002116,30991,Subscriber,1940,male,
2,1020,2017-08-22 11:26:36.000,2017-08-22 11:43:37.000,2009,Catherine St & Monroe St,40.711174,-73.996826,2008,Little West St & 1 Pl,40.705693,-74.016777,21316,Subscriber,1944,male,
3,664,2015-07-27 23:54:05.000,2015-07-28 00:05:10.000,294,Washington Square E,40.730494,-73.995721,453,W 22 St & 8 Ave,40.744751,-73.999154,22985,Subscriber,1949,male,
4,381,2018-01-30 06:50:35.739,2018-01-30 06:56:57.094,3431,E 35 St & 3 Ave,40.746524,-73.977885,174,E 25 St & 1 Ave,40.738177,-73.977387,17443,Subscriber,1996,female,